/target
**/*.rs.bk
Cargo.lock
*.db
*.db-shm
*.db-wal
.env
/data
/dist
/build
.DS_Store
/claude
/.claude
/scripts/.*
/scripts/deploy-test-server.py
/scripts/deploy-server.py
/scripts/deploy-prod.yaml
node_modules/
crates/pp-web/dist/
__pycache__/
